body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container {
    background-color: #E9E9E9;
    margin: auto;

    width: 600px;

    box-shadow: 1px 3px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;

  }

  .header {
    padding: 2.5rem;
  }

  .flex-container {
    display: flex;
    
    justify-content: space-around;
    color: #F5F5F5 ;
  }

  .header-title {
    color: #006666;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .header-subtitle {
    color: #009E9E;
    font-size: 1.25rem;
    margin-bottom: 0.93rem;
  }

  .col-1 {
    background-color: #006a6a;
    width: 50%;
    padding: 1.25rem;
  }

  .col-2 {

    background-color: #008E8E;
    width: 50%;
    padding: 0.62rem 1.25rem;
  }

  .subscription-title {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 0.92rem;
  }

  .price {
    font-size: 1.62rem;
    font-weight: 700px;
  }

  .month {
    font-size: 1rem;
    font-style: italic;
    margin-left: 0.93rem;
  }

  .btn {
   width: 100%;
   padding: 0.93rem 2rem;
   color: #006a6a;
   font-size: 1rem;
   border-radius: 5px;
   border: none;
   background-color: #CCCCCC ;
   margin-top: 1.25rem;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #E9E9E9;
  }

  .img {
    text-align: center;
    margin-bottom: 5px;
  }

  .btn-link {
    color: #006666;
    
  }

  @media screen and (max-width: 620px) { 
    body {
      font-size: 14px;
    }

    .flex-container {
      flex-direction: column;
    }

    .col-1, .col-2 {
      width: 100%;
      box-sizing: border-box;
    }

    .container {
      width: 95%;
    }

  }
